.text {
    margin: 2rem 0 0 4rem;
    font-size: 22px;
}

.cards {
    margin: 2rem 0 0 1rem;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.price-comparison {
    background-color: white;
    margin: 2rem 20rem 0 0rem;
    height: 15.58rem;
    width: 20rem;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
}
 
.price-box {
    display: flex;
    justify-content: space-between;
}

.price-comparison:hover{
    box-shadow: rgba(104, 162, 244, 0.5) 5px 5px, rgba(117, 176, 244, 0.3) 10px 10px, rgba(117, 176, 244, 0.2) 15px 15px !important;
    transition: 200ms;
}

.medgen-price-box,
.current-price-box {
    height: 80px;
    width: 120px;
    text-align: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 5px, rgba(17, 17, 26, 0.1) 0px 6px 15px, rgba(17, 17, 26, 0.1) 0px 6px 15px;
    border-radius: 5%;
    background-color: white;
}

.total-savings {
    margin: 3rem 0 1rem 0;
    height: 80px;
    width: 278px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 5px, rgba(17, 17, 26, 0.1) 0px 6px 15px, rgba(17, 17, 26, 0.1) 0px 6px 15px;
    border-radius: 5%;
    text-align: center;
    background-color: white;
}
/* 
.comparison-boxes {
    display: flex;
    justify-content: space-around;
}

.cards-outer {
    width: 1000px;
}

.card-price{
    margin-top: .3rem;
    margin-right: 2rem;
}

.card-1-1,
.card-2-2 {
    background-color: white;
    height: 13.8rem;
    width: 50rem;
    border-radius: 8px;
    border: 1px solid #000;
}

.card-1-1:hover,
.card-2-2:hover{
    box-shadow: rgba(104, 162, 244, 0.5) 5px 5px, rgba(117, 176, 244, 0.3) 10px 10px, rgba(117, 176, 244, 0.2) 15px 15px !important;
}

.card-list {
    font-size: larger;
    margin-top: 1rem;
}
 */

 /* ComparePage.css */


  
  /* Media Queries for smaller screens */
  @media (max-width: 768px) {
    .comparison-boxes {
      flex-direction: column;
    }
  
    .card-container {
      margin: 1rem 0;
    }
  
    .price-comparison {
      width: 90%;
    }
  }
  
  @media (max-width: 576px) {
    .price-box {
      flex-direction: column;
      align-items: center;
    }
  
    .total-savings {
      text-align: center;
    }
  }
  