.lol {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.chochomelon {
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.227));
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.249)
  );
  height: 925px;
  width: 1530px;
  border-radius: 0px;
}

.BG {
  background-image: linear-gradient(180deg#d6e9e9, #e2eaf5);
}

.sizeText {
  font-size: 70px;
}
.sizeText2 {
  margin-bottom: 50px;
  font-size: 80px;
}

.mt {
  margin-top: 100px;
  margin-bottom: 50px;
}
.mtcards {
  margin-bottom: 50px;
}
.midtext {
  text-align: center;
  margin-left: 80vh;
  font-size: 70px;
}
.midb {
  margin-right: 40vh;
  margin-top: 30px;
}
a {
  text-decoration: none;
  color: white;
}
.midbtn {
  background-color: rgb(94, 158, 255);
  border: 2px solid rgba(29, 0, 97, 0.658);
}
.midbtn:hover {
  border: 2px solid rgba(29, 0, 97, 0.545);
  color: rgba(0, 21, 81, 0.447);
  background-color: rgba(94, 158, 255, 0.181);
}
.card .card-body button:hover {
  background-color: #2b1cff3f;
  cursor: pointer;
}
.card:hover {
  box-shadow: rgba(47, 28, 255, 0.199) -10px 10px,
    rgba(39, 28, 255, 0.19) -20px 20px;
  cursor: pointer;
}
.card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: all 0.6s ease;
}
