.login-section {
  margin: 0;
  overflow: hidden;
}

.login-container {
  position: relative;
}

#image-container {
  position: relative;
  height: 100%;
}

#moving-image {
  position: fixed;
  top: 50%;
  right: 70%;
  transform: translateY(-35%);
}
#moving-image {
  position: relative;
  animation: moveImage 2s backwards;
}


@keyframes moveImage {
  0% {
    right: -100%;
  }
  100% {
    right: 50%;
  }
}



