

.form-control:focus {
    box-shadow: none;
    
}

.profile-button {
    
    box-shadow: none;
    border: none
}



.profile-button:focus {
    
    box-shadow: none
}

.profile-button:active {
    
    box-shadow: none
}

.back:hover {
    
    cursor: pointer
}

.labels {
    font-size: 11px
}

