.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20vh;
  }
  
  .search-input {
    width: 55%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .search-button {
    height: 45px;
    width: 90px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
  }

  

  