.home{
    height:100%;
    width:100%;
}
.Image{
    height: 100%;
    width:100%;
}
div{
    background-color: rgb(66, 119, 134);
}


.store{
    border-radius: 50%;
    height:50%;
    width:20%;
}
.med{
    border-radius: 50%;
    height:40%;
    width:5%; 
}
#left{
   width:100px;
   float:left;
}
#right{
    width:100px;
    float:right;
}
h3{
    color:white;
    text-align: left;
}

h2{
    color:white;
    text-align:right;
}

