
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .register-store-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .coordinates {
    display: flex;
    gap: 20px;
  }
  
  .coordinates div {
    flex: 1;
  }
  
  .owner-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .owner-details div {
    flex: 1;
    margin-right:25px;
  }
  
  input::placeholder {
    color: #ccc;
    font-size: 14px;
  }
  