.image {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(254, 254, 254, 0.628), rgba(245, 248, 250, 0.667)), url('./Bg.png');
    background-size: cover;
    background-position: center;
}


.text {
    margin: 0 0 0 4.2rem;
    font-size: 30px;
}

.cards {
    display: flex;
    align-items: center;
    margin: 1.7rem 0 0 4rem;
}

.card-body {
    width: 40rem;
    display: flex;
    justify-content: space-between;
}

.comparison-boxes {
    display: flex;
    justify-content: space-around;
}

.card-1 {
    background-color: white;
    height: 55px;
    border-radius: 8px;
    border: 1px solid #000;
    -webkit-box-shadow: 35px 29px 35px -34px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 35px 29px 35px -34px rgba(0, 0, 0, 0.66);
    box-shadow: 35px 29px 35px -34px rgba(0, 0, 0, 0.66);
}

.card-list {
    font-size: larger;
    margin-top: .1rem;
}

.btn {
    margin-left: 2rem;
    height: 45px;
    width: 100px;

}
.compare-btn {
    -webkit-box-shadow: 35px 29px 35px -34px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 35px 29px 35px -34px rgba(0, 0, 0, 0.66);
    box-shadow: 35px 29px 35px -34px rgba(0, 0, 0, 0.66);
}