*{
  margin: 0;
  padding: 0;
}
.form-control{
  border-radius: 70px;
}
.google{
  width:25px;
  height:25px;
  float: left;
  
}
button{
  width:150px;
  padding-top: 6px;
  font-size: larger;
  border-color: aliceblue;
}
.medicine{
  margin-top: 6px;
  height:650px;
  width:100%;
}