.Store {
    text-align: center;
    margin-top: 50px;
    
    
  }
  
  .store-list {
    margin-top: 20px;
  }
  
  .store-list ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .store-list li {
    background-color: #eee6e6;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(22, 22, 22, 0.1);
    color: #3a5e75;
  } 
  .store-list h3 {
    margin-top: 0;
    font-size: 30px;
    
    color: black;
  }t4
  .store-list p {
    margin: 5px 0;
  }
  #larger{
    font-size: 20px;
  }